{% extends 'aplicacion/index.html' %}

{% block Titulo %}
<h1 class="display-4 fw-bolder">ALMA/ONLINE</h1>
<p class="lead fw-normal text-white-50 mb-0">El mercado de tu barrio, desde un click.</p>
</div>
</div>
</header>  

{%endblock Titulo%}


{% block Contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALMACEN/ONLINE</title>
</head>
<body>
    <header>
        <h1>Bienvenido al ALMACEN ONLINE</h1>
        <p>Somos tu destino de compras para abastecerte de productos de alta calidad a precios accesibles.</p>
    </header>
    <main>
        <section>
            <h2>¿Qué queremos?</h2>
            <p>En ALMA/ONLINE  nos esforzamos por ofrecer a nuestros clientes una amplia variedad de productos, así como una experiencia de compra fácil y rapida.</p>
        </section>
        <section>
            <h2>Nuestros Productos</h2>
            <p>Desde alimentos frescos y enlatados hasta productos de limpieza y artículos para el hogar, tenemos todo lo que necesitas en un solo lugar. Nuestro compromiso es proporcionar productos frescos y de calidad para satisfacer las necesidades de tu hogar.</p>
        </section>
        <section> 
    </main>
    <footer>
        <p>¡Gracias por elegir ALMA/ONLINE ! Esperamos verte pronto en nuestra tienda.</p>
    </footer>
</body>
</html>
{% endblock Contenido %}


